.body_backgorund {
    background-image: url("BG.jpg");
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  h1
  {
      color: rgb(255, 0, 85); 
      font-size: 40px;
  }
  #Canvas
  {
      border-width:10px;
      background-color: white; 
      border-style:ridge;
  }

  button {
    background-color: #93bae5;
    border: none;
    color: white;
    padding: 10px 42px;
    font-size: 16px;
    border-width: 4px;
    border-style: outset;
    border-radius: 10px;
  }

  input
  {
    margin-right: 20px;
  }
  